/*General Layout*/

/*cream color: rgb(246, 248, 240)*/
/*salmon color: rgb(239, 152, 121)*/
/*lighter salmon: rgb(243, 227, 220)*/
/*light salmon: rgb(245, 180, 156)*/
/*dark color logo: rgb(52, 48, 65)*/
/*complementary dark: rgb(139, 66, 69)*/
/*complementary light: rgb(225, 208, 208)*/
/*cream light: rgb(254, 254, 236)*/


body {
    font-family: 'Comfortaa', cursive;
    background: linear-gradient(rgb(236, 136, 109), rgb(255, 204, 189));
    /*background: rgb(239, 152, 121);*/
    /*background: rgb(245, 180, 156);*/
    /*background: rgb(246, 248, 240);*/
    /*margin: 20px;*/
}

div.header {
    margin-top: 40px;
}

h1.logo-head {
    font-size: 85px;
    color: rgb(52, 48, 65);
    font-weight: bolder;
    margin-left: 30px;
    margin-top: 50px;
    /*margin-right: 30px;*/
    text-align: right;
    text-shadow: 0.7px 0.7px rgb(234, 236, 228);
}

.logo-sub {
    /*font-style: italic;*/
    font-size: 25px;
    /*color: rgb(246, 248, 240);*/
    color: rgb(254, 254, 236);
    font-weight: 200;
    margin-left: 50px;
    text-align: right;
    text-shadow: 0.5px 0.5px rgb(52, 48, 65);
    margin-bottom: 30px;
}

img.logo-img {
    height: 150px;
    width: auto;
    margin-top: 40px;
}

img.img-phone {
    height: 500px;
    width: auto;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.box1 {
    background: rgba(243, 227, 220, 0.8);
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box-ender {
    background: linear-gradient(rgba(139, 66, 69, 1), rgb(166, 79, 82));
}

.content-txt {
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    color: rgb(52, 48, 65);
    /*text-shadow: 0.5px 0.5px rgb(52, 48, 65);*/
    text-align: center;
    font-weight: 200;
}

.ender-txt {
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(254, 254, 236);
    text-shadow: 0.5px 0.5px rgb(52, 48, 65);
    text-align: center;
}

.bold {
    font-weight: 800;
}

.big {
    font-size: 22px;
    margin-bottom: 20px;
    text-shadow: 0.5px 0.5px rgb(246, 248, 240);
}

.icon {
    color: rgb(254, 254, 236);
    text-shadow: 0.5px 0.5px rgb(52, 48, 65);
}

.icon-border {
    padding-left: 20px;
}

div.center {
    text-align: center;
}